html{
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

div.header {
	margin-left: 100px;
}

#roomInput {
    background-image: url('../img/searchIcon.png'); /* Add a search icon to input */
		background-position: 10px 12px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#verificationInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

th,td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

tr.header, tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#date-cell {
	background-color: #f1f1f1;
}

#time-cell-free {
	background-color:rgba(34,177,76,1);
}

#time-cell-free:hover {
	background-color:rgba(34,177,76,0.8);
}

#time-cell-busy {
	background-color:rgba(223,0,60,1);
}

#time-cell-busy:hover {
	background-color:rgba(223,0,60,0.8);
}

#logo-img {
	background-image: url('../img/logo-eye-closed.png');
	width: 328px;
	height: 100px;
}

#logo-img:hover {
	background-image: url('../img/logo.png');
}

strong.input-label{
	font-size: 14px;
}

#mid-form {
	text-align: center;
}

#right-label {
	text-align: right;
}
